In [49]:
# Import setup
import pandas as pd

In [50]:
# Create a list containing all the files for Homelessnes in US
files = ["Resources/2014-PIT-Counts-by-State.csv",
         "Resources/2015-PIT-Counts-by-State.csv",
         "Resources/2016-PIT-Counts-by-State.csv",
         "Resources/2017-PIT-Counts-by-State.csv",
         "Resources/2018-PIT-Counts-by-State.csv",
         "Resources/2019-PIT-Counts-by-State.csv",
         "Resources/2020-PIT-Counts-by-State.csv",
         "Resources/2021-PIT-Counts-by-State.csv",
         "Resources/2022-PIT-Counts-by-State.csv",
         "Resources/2023-PIT-Counts-by-State.csv"]

In [51]:
Homelessnes_df = pd.DataFrame()

In [52]:
for file in files:
    data = pd.read_csv(file) 
    Homelessnes_df = pd.concat([Homelessnes_df, data], axis=0)

In [53]:
Homelessnes_df.tail()

,Year,State,Overall Homeless,Overall Homeless - Under 18,Overall Homeless - Age 18 to 24,Overall Homeless - Over 24,Overall Homeless - Female,Overall Homeless - Male,Overall Homeless - Transgender,Overall Homeless - Gender that is not Singularly Female or Male,...,Overall Homeless Veterans - Transgender,Overall Homeless Veterans - Gender that is not Singularly Female or Male,Overall Homeless Veterans - Non-Hispanic/Non-Latin(o)(a)(x),Overall Homeless Veterans - Hispanic/Latin(o)(a)(x),Overall Homeless Veterans - White,"Overall Homeless Veterans - Black, African American, or African",Overall Homeless Veterans - Asian or Asian American,"Overall Homeless Veterans - American Indian, Alaska Native, or Indigenous",Overall Homeless Veterans - Native Hawaiian or Other Pacific Islander,Overall Homeless Veterans - Multiple Races
52,2023.0,WA,"28,036","4,386","1,897","15,275","10,124","17,283",325,304,...,25,14.0,"1,481",203,"1,065",279,14,128,55,143
53,2023.0,WI,"4,861","1,189",279,"3,393","1,999","2,814",29,19,...,0,0.0,323,12,223,91,2,8,2,9
54,2023.0,WV,"1,416",125,136,"1,155",548,849,10,9,...,0,0.0,90,1,74,13,0,2,0,2
55,2023.0,WY,532,37,62,433,158,372,0,2,...,0,0.0,90,0,82,4,0,1,1,2
56,NaN,Total,"653,104","111,620","47,436","455,295","250,009","395,160","4,087","3,848",...,173,190.0,"30,885","4,689","20,287","11,136",608,"1,269",427,"1,847"

In [54]:
Homelessnes_df.to_csv('Resources/Homelessness_2014_2023.csv', index=False)