In [1]:
import pandas as pd
from pathlib import Path

In [2]:
# Name of the CSV file
file = Path("Resources/Homelessness_2014_2023.csv")

In [3]:
df = pd.read_csv(file)

In [4]:
df.head()

,Year,State,Overall Homeless,Overall Homeless - Under 18,Overall Homeless - Age 18 to 24,Overall Homeless - Over 24,Overall Homeless - Female,Overall Homeless - Male,Overall Homeless - Transgender,Overall Homeless - Gender that is not Singularly Female or Male,...,Overall Homeless Veterans - Transgender,Overall Homeless Veterans - Gender that is not Singularly Female or Male,Overall Homeless Veterans - Non-Hispanic/Non-Latin(o)(a)(x),Overall Homeless Veterans - Hispanic/Latin(o)(a)(x),Overall Homeless Veterans - White,"Overall Homeless Veterans - Black, African American, or African",Overall Homeless Veterans - Asian or Asian American,"Overall Homeless Veterans - American Indian, Alaska Native, or Indigenous",Overall Homeless Veterans - Native Hawaiian or Other Pacific Islander,Overall Homeless Veterans - Multiple Races
0,2014.0,AK,"1,784",397,202,"1,185",799,984,1,NaN,...,0,NaN,173,5,111,21,0,37,0,9
1,2014.0,AL,"4,561",772,366,"3,423","1,681","2,806",4,NaN,...,1,NaN,535,2,249,282,0,2,0,4
2,2014.0,AR,"2,936",355,315,"2,266","1,113","1,098",0,NaN,...,0,NaN,241,7,143,96,1,1,0,7
3,2014.0,AS,,,,,,,,NaN,...,,NaN,,,,,,,,
4,2014.0,AZ,"10,495","2,679","1,024","6,792","3,900","5,531",15,NaN,...,3,NaN,639,94,536,122,1,49,6,19

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 570 entries, 0 to 569
Data columns (total 31 columns):
 #   Column                                                                     Non-Null Count  Dtype
---  ------                                                                     --------------  -----
 0   Year                                                                       560 non-null    float64
 1   State                                                                      570 non-null    object
 2   Overall Homeless                                                           570 non-null    object
 3   Overall Homeless - Under 18                                                570 non-null    object
 4   Overall Homeless - Age 18 to 24                                            570 non-null    object
 5   Overall Homeless - Over 24                                                 568 non-null    object
 6   Overall Homeless - Female                                                  570 non-null    object
 7   Overall Homeless - Male                                                    570 non-null    object
 8   Overall Homeless - Transgender                                             570 non-null    object
 9   Overall Homeless - Gender that is not Singularly Female or Male            451 non-null    object
 10  Overall Homeless - Non-Hispanic/Non-Latin(o)(a)(x)                         570 non-null    object
 11  Overall Homeless - Hispanic/Latin(o)(a)(x)                                 570 non-null    object
 12  Overall Homeless - White                                                   570 non-null    object
 13  Overall Homeless - Black, African American, or African                     570 non-null    object
 14  Overall Homeless - Asian or Asian American                                 570 non-null    object
 15  Overall Homeless - American Indian, Alaska Native, or Indigenous           570 non-null    object
 16  Overall Homeless - Native Hawaiian or Other Pacific Islander               570 non-null    object
 17  Overall Homeless - Multiple Races                                          570 non-null    object
 18  Overall Homeless Veterans                                                  570 non-null    object
 19  Overall Homeless Veterans - Female                                         570 non-null    object
 20  Overall Homeless Veterans - Male                                           570 non-null    object
 21  Overall Homeless Veterans - Transgender                                    570 non-null    object
 22  Overall Homeless Veterans - Gender that is not Singularly Female or Male   396 non-null    object
 23  Overall Homeless Veterans - Non-Hispanic/Non-Latin(o)(a)(x)                570 non-null    object
 24  Overall Homeless Veterans - Hispanic/Latin(o)(a)(x)                        570 non-null    object
 25  Overall Homeless Veterans - White                                          570 non-null    object
 26  Overall Homeless Veterans - Black, African American, or African            570 non-null    object
 27  Overall Homeless Veterans - Asian or Asian American                        570 non-null    object
 28  Overall Homeless Veterans - American Indian, Alaska Native, or Indigenous  570 non-null    object
 29  Overall Homeless Veterans - Native Hawaiian or Other Pacific Islander      570 non-null    object
 30  Overall Homeless Veterans - Multiple Races                                 570 non-null    object
dtypes: float64(1), object(30)
memory usage: 138.2+ KB

In [9]:
new_df = df.dropna()
new_df.tail()

,Year,State,Overall Homeless,Overall Homeless - Under 18,Overall Homeless - Age 18 to 24,Overall Homeless - Over 24,Overall Homeless - Female,Overall Homeless - Male,Overall Homeless - Transgender,Overall Homeless - Gender that is not Singularly Female or Male,...,Overall Homeless Veterans - Transgender,Overall Homeless Veterans - Gender that is not Singularly Female or Male,Overall Homeless Veterans - Non-Hispanic/Non-Latin(o)(a)(x),Overall Homeless Veterans - Hispanic/Latin(o)(a)(x),Overall Homeless Veterans - White,"Overall Homeless Veterans - Black, African American, or African",Overall Homeless Veterans - Asian or Asian American,"Overall Homeless Veterans - American Indian, Alaska Native, or Indigenous",Overall Homeless Veterans - Native Hawaiian or Other Pacific Islander,Overall Homeless Veterans - Multiple Races
564,2023.0,VT,"3,295",654,247,"2,394","1,454","1,810",7,24,...,0,1.0,116,6,98,13,0,3,1,7
565,2023.0,WA,"28,036","4,386","1,897","15,275","10,124","17,283",325,304,...,25,14.0,"1,481",203,"1,065",279,14,128,55,143
566,2023.0,WI,"4,861","1,189",279,"3,393","1,999","2,814",29,19,...,0,0.0,323,12,223,91,2,8,2,9
567,2023.0,WV,"1,416",125,136,"1,155",548,849,10,9,...,0,0.0,90,1,74,13,0,2,0,2
568,2023.0,WY,532,37,62,433,158,372,0,2,...,0,0.0,90,0,82,4,0,1,1,2

In [7]:
# Calculate the number of unique authors in the DataFrame
state_count = len(new_df["State"].unique())
state_count

56

In [8]:
new_df.to_csv('Resources/2014_2023_Data_Combo_cleaned.csv', index=False)