In [2]:
import pandas as pd
from pathlib import Path

In [3]:
# Name of the CSV file
file = Path("Resources/2014_2023_Data_Combo_cleaned.csv")

In [4]:
df = pd.read_csv(file)

In [5]:
df.head()

,Year,State,Overall Homeless,Overall Homeless - Under 18,Overall Homeless - Age 18 to 24,Overall Homeless - Over 24,Overall Homeless - Female,Overall Homeless - Male,Overall Homeless - Transgender,Overall Homeless - Gender that is not Singularly Female or Male,...,Overall Homeless Veterans - Transgender,Overall Homeless Veterans - Gender that is not Singularly Female or Male,Overall Homeless Veterans - Non-Hispanic/Non-Latin(o)(a)(x),Overall Homeless Veterans - Hispanic/Latin(o)(a)(x),Overall Homeless Veterans - White,"Overall Homeless Veterans - Black, African American, or African",Overall Homeless Veterans - Asian or Asian American,"Overall Homeless Veterans - American Indian, Alaska Native, or Indigenous",Overall Homeless Veterans - Native Hawaiian or Other Pacific Islander,Overall Homeless Veterans - Multiple Races
0,2014,AK,"1,784",397,202,"1,185",799,984,1,NaN,...,0,NaN,173,5,111,21,0,37,0,9
1,2014,AL,"4,561",772,366,"3,423","1,681","2,806",4,NaN,...,1,NaN,535,2,249,282,0,2,0,4
2,2014,AR,"2,936",355,315,"2,266","1,113","1,098",0,NaN,...,0,NaN,241,7,143,96,1,1,0,7
3,2014,AS,,,,,,,,NaN,...,,NaN,,,,,,,,
4,2014,AZ,"10,495","2,679","1,024","6,792","3,900","5,531",15,NaN,...,3,NaN,639,94,536,122,1,49,6,19

In [9]:
renamed_df = df.rename(columns={
    "Overall Homeless - Under 18":"Under 18",
    "Overall Homeless - Age 18 to 24":"Age 18 to 24",
    "Overall Homeless - Over 24":"Over 24",
    "Overall Homeless - Female":"Female",
    "Overall Homeless - Male":"Male",
    "Overall Homeless - Transgender":"Transgender",
    "Overall Homeless - Gender that is not Singularly Female or Male":"Non-binary",
    "Overall Homeless - Non-Hispanic/Non-Latin(o)(a)(x)":"Non-Hispanic/Non-Latin",
    "Overall Homeless - Hispanic/Latin(o)(a)(x)":"Hispanic/Latin",
    "Overall Homeless - White":"White",
    "Overall Homeless - Black, African American, or African":"African American",
    "Overall Homeless - Asian or Asian American":"Asian American",
    "Overall Homeless - American Indian, Alaska Native, or Indigenous":"Indigenous",
    "Overall Homeless - Native Hawaiian or Other Pacific Islander":"Pacific Islander",
    "Overall Homeless - Multiple Races":"Multiple Races",
    "Overall Homeless Veterans - Female":"Veterans - Female",
    "Overall Homeless Veterans - Male":"Veterans - Male",
    "Overall Homeless Veterans - Transgender":"Veterans - Transgender",
    "Overall Homeless Veterans - Gender that is not Singularly Female or Male":"Veterans-Non-binary",
    "Overall Homeless Veterans - Non-Hispanic/Non-Latin(o)(a)(x)":"Veterans - Non-Hispanic/Non-Latin",
    "Overall Homeless Veterans - Hispanic/Latin(o)(a)(x)":"Veterans - Hispanic/Latin",
    "Overall Homeless Veterans - White":"Veterans - White",
    "Overall Homeless Veterans - Black, African American, or African":"Veterans - African American",
    "Overall Homeless Veterans - Asian or Asian American":"Veterans - Asian American",
    "Overall Homeless Veterans - American Indian, Alaska Native, or Indigenous":"Veterans - Indigenous",
    "Overall Homeless Veterans - Native Hawaiian or Other Pacific Islander":"Veterans - Pacific Islander",
    "Overall Homeless Veterans - Multiple Races":"Veterans - Multiple Races"})
renamed_df.head()

,Year,State,Overall Homeless,Under 18,Age 18 to 24,Over 24,Female,Male,Transgender,Non-binary,...,Veterans - Transgender,Veterans-Non-binary,Veterans - Non-Hispanic/Non-Latin,Veterans - Hispanic/Latin,Veterans - White,Veterans - African American,Veterans - Asian American,Veterans - Indigenous,Veterans - Pacific Islander,Veterans - Multiple Races
0,2014,AK,"1,784",397,202,"1,185",799,984,1,NaN,...,0,NaN,173,5,111,21,0,37,0,9
1,2014,AL,"4,561",772,366,"3,423","1,681","2,806",4,NaN,...,1,NaN,535,2,249,282,0,2,0,4
2,2014,AR,"2,936",355,315,"2,266","1,113","1,098",0,NaN,...,0,NaN,241,7,143,96,1,1,0,7
3,2014,AS,,,,,,,,NaN,...,,NaN,,,,,,,,
4,2014,AZ,"10,495","2,679","1,024","6,792","3,900","5,531",15,NaN,...,3,NaN,639,94,536,122,1,49,6,19

In [13]:
renamed_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 560 entries, 0 to 559
Data columns (total 31 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Year                               560 non-null    int64
 1   State                              560 non-null    object
 2   Overall Homeless                   560 non-null    object
 3   Under 18                           560 non-null    object
 4   Age 18 to 24                       560 non-null    object
 5   Over 24                            558 non-null    object
 6   Female                             560 non-null    object
 7   Male                               560 non-null    object
 8   Transgender                        560 non-null    object
 9   Non-binary                         443 non-null    object
 10  Non-Hispanic/Non-Latin             560 non-null    object
 11  Hispanic/Latin                     560 non-null    object
 12  White                              560 non-null    object
 13  African American                   560 non-null    object
 14  Asian American                     560 non-null    object
 15  Indigenous                         560 non-null    object
 16  Pacific Islander                   560 non-null    object
 17  Multiple Races                     560 non-null    object
 18  Overall Homeless Veterans          560 non-null    object
 19  Veterans - Female                  560 non-null    object
 20  Veterans - Male                    560 non-null    object
 21  Veterans - Transgender             560 non-null    object
 22  Veterans-Non-binary                389 non-null    object
 23  Veterans - Non-Hispanic/Non-Latin  560 non-null    object
 24  Veterans - Hispanic/Latin          560 non-null    object
 25  Veterans - White                   560 non-null    object
 26  Veterans - African American        560 non-null    object
 27  Veterans - Asian American          560 non-null    object
 28  Veterans - Indigenous              560 non-null    object
 29  Veterans - Pacific Islander        560 non-null    object
 30  Veterans - Multiple Races          560 non-null    object
dtypes: int64(1), object(30)
memory usage: 135.8+ KB

In [10]:
renamed_df.to_csv('Resources/2014_2023_Data_Combo_cleaned_Renamed.csv', index=False)